.tree img {vertical-align: sub;}
.tree label { color: #333; }
.tree a { color: #333; }

.tree input {position: absolute;clip: rect(0, 0, 0, 0);}


.tree input ~ ul { display: none; }

.tree input:checked ~ ul { display: block; }

/* ————————————————————–
  Tree rows
*/
.tree li {position: relative;padding: 0 0 0px 12px;}

.tree ul li { }

.tree > li:last-child { padding-bottom: 0; }

/* ————————————————————–
  Tree labels
*/
.tree_label {position: relative;display: inline-block;line-height: 26px;color: #2879d0;}

label.tree_label { cursor: pointer; }

label.tree_label:hover { color: #666; }

/* ————————————————————–
  Tree expanded icon
*/
label.tree_label.sub:before {position: absolute;top: 4px;left: -12px;width: 12px;height: 12px;line-height: 6px !important;}
label.tree_label.sub:before {font: normal normal normal 14px/1 FontAwesome;text-rendering: auto;-webkit-font-smoothing: antialiased;color: #666;content: "\f0de";}

:checked ~ label.tree_label:before { content: "\f0dd"; }



/* ————————————————————–
  Tree branches
*/



label.tree_label:after { border-bottom: 0; }

:checked ~ label.tree_label:after {
  border-radius: 0 .3em 0 0;
  border-top: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 0;
  border-left: 0;
  bottom: 0;
  top: 12px;
  height: auto;
  }

.tree li:last-child:before {
  height: 1em;
  bottom: auto;
  }

.tree > li:last-child:before { display: none; }

.tree_custom {
  display: block;
  background: #eee;
  padding: 1em;
  border-radius: 0.3em;
}
